{% extends "base.html" %}
{% block content %}

<!-- Content -->
	<section>
		<header class="main">
			<h1>8.밀폐공간(맨홀 등)</h1>
		</header>

<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/밀폐공간confinedspace/confinedspace.1.jpg') }}" alt="" /></span>-->
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/밀폐공간confinedspace/confinedspace.2.jpg') }}" alt="" /></span>-->
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/밀폐공간confinedspace/confinedspace.3.jpg') }}" alt="" /></span>-->
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/밀폐공간confinedspace/confinedspace.4.jpg') }}" alt="" /></span>-->
		{% for image in images %}
			<span class="image main">
				<img src="{{ url_for('static', filename='assets/밀폐공간confinedspace/' + image) }}" alt="{{ image.split('.')[0] }}" />
			</span>
		{% endfor %}
	</section>

{% endblock %}