{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>밀폐공간 작업</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/32.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/32.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/32.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/32.4.jpg') }}" alt="" /></span>
	</section>
{% endblock %}