{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>전기작업 안전</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/29.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/29.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/29.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/29.4.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/29.5.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/29.6.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/29.7.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/29.8.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/29.9.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/29.10.jpg') }}" alt="" /></span>
	</section>
{% endblock %}