{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>굴착기</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/굴착기excavator/excavator.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/굴착기excavator/excavator.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/굴착기excavator/excavator.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/굴착기excavator/excavator.4.jpg') }}" alt="" /></span>
	</section>
{% endblock %}