{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>지게차</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/23.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/23.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/23.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/23.4.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/23.5.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/23.6.jpg') }}" alt="" /></span>
	</section>
{% endblock %}