{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>중량물 작업</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/중량물작업heavywork/heavywork.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/중량물작업heavywork/heavywork.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/중량물작업heavywork/heavywork.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/중량물작업heavywork/heavywork.4.jpg') }}" alt="" /></span>
	</section>
{% endblock %}