{% extends "base.html" %}

{% block content %}
<!-- Banner -->
<section id="banner">
<div class="content">
	<header>
		<h1>SK오앤에스 <br />
		Mobile Safety Guide</h1>
		<p>왼쪽 상단 ≡ 버튼을 누르시면 메뉴로 이동합니다.</p>
	</header>


	<!-- 팝업창 -->
	<div id="popup">
		<h2>안전가이드 변경 안내</h2>
		<div class="content">
			<p>1. SRG 10.0 개정</p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="sanctionstandards.html">- SGR 10.0 개정</a></p>
			<p>2. 관리자별 안전관리 역할</p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="safetymanagement.html">- 관리자별 안전관리 R&R</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="rolechiefsafetyhealth.html">- 안전보건(관리)총괄책임자 역할</a></p>
			<p>3. 브로비 안전교육 동영상 추가 </p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytsafetyworkprocedures.html">- 안전작업 절차</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytsgr.html">- Safety Golden Rule</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytsafetyfacilities.html">- 안전시설물 점검</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytmobileladder.html">- 이동식 사다리 안전수칙</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytenclosedspace.html">- 밀폐공간작업</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytstubbornness.html">- 생명의 줄 완강기</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytsuspendedscaffolding.html">- 달비계작업</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytfiresafety.html">- 소방안전</a></p>
			<p style="text-indent: 10px; font-size: 14px;"><a href="ytbucketvehiclework.html">- 버켓차량작업(만화)</a></p>
		</div>
		<div class="btn_wrap">
			<button id="close-today-popup">오늘 하루 보지 않기</button>
			<button id="close-popup">닫기</button>
		</div>
	</div>

	<div class="image-below-header" style="text-align: center;">
		<!-- 기존에는 main.jpg 사용함 -->
		<img src="{{ url_for('static', filename='assets/35.1.jpg') }}" alt="" style="max-width:100%; height:auto;" />
	</div>
</div>
</section>
{% endblock %}
