{% extends "base.html" %}

{% block content %}
<!-- Banner -->
<section id="banner">
<div class="content">
	<header>
		<h1>SK오앤에스 <br />
		Mobile Safety Guide</h1>
		<p>왼쪽 상단 ≡ 버튼을 누르시면 메뉴로 이동합니다.</p>
	</header>


	<!-- 팝업창 -->
	<div id="popup">
		<h2>안전가이드 변경 안내</h2>
		<div class="content">
			<p><a href="safetygear.html">1. SGR 개정 Ver9.0</a></p>
			<p style="text-indent: 10px; font-size: 14px;">- 가/감점 기준, 긴급 사다리 필요 작업 입회 기준 등</p>
			<p><a href="response.html">2. 산업/중대재해 프로세스 Renewal Ver1.0</a></p>
			<p style="text-indent: 10px; font-size: 14px;">- 개정) 산업/중대재해 대응 프로세스</p>
			<p style="text-indent: 10px; font-size: 14px;">- 신규) 중대재해 대응체계</p>
			<p style="text-indent: 10px; font-size: 14px;">- 신규) BP사 중대재해 대응 가이드</p>
			<p style="text-indent: 10px; font-size: 14px;">- 신규) 중대재해 모의훈련</p>
			<p><a href="cspo.html">3. SKO 안전 Guide Book Ver1.8</a></p>
			<p style="text-indent: 10px; font-size: 14px;">- 특별교육 4번, 6대 고위험작업 입회, 2인1조 작업 등</p>
			<p><a href="worknstructions.html">4. 전송분야 현장 작업지침서</a></p>
			<p style="text-indent: 10px; font-size: 14px;">- 구간별 도로 통제 절차 등 7항목</p>
		</div>
		<div class="btn_wrap">
			<button id="close-today-popup">오늘 하루 보지 않기</button>
			<button id="close-popup">닫기</button>
		</div>
	</div>

	<div class="image-below-header" style="text-align: center;">
		<!-- 기존에는 main.jpg 사용함 -->
		<img src="{{ url_for('static', filename='assets/35.1.jpg') }}" alt="" style="max-width:100%; height:auto;" />
	</div>
</div>
</section>
{% endblock %}
