{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>사다리&고소작업대</h1>
		</header>

		<span class="image main"><img src="{{ url_for('static', filename='assets/사다리고소작업대ladder/ladder.1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/사다리고소작업대ladder/ladder.2.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/사다리고소작업대ladder/ladder.3.jpg') }}" alt="" /></span>
	</section>
{% endblock %}