{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>맨홀작업 행동절차</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/맨홀작업행동절차manhowork/manhowork.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/맨홀작업행동절차manhowork/manhowork.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/맨홀작업행동절차manhowork/manhowork.3.jpg') }}" alt="" /></span>
	</section>
{% endblock %}