{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>이동식크레인</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.4.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.5.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.6.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.7.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.8.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.9.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.10.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.11.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.12.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/이동식크레인mobilecrane/mobilecrane.13.jpg') }}" alt="" /></span>
	</section>
{% endblock %}