{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>이동식사다리</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/26.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/26.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/26.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/26.4.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/26.5.jpg') }}" alt="" /></span>
	</section>
{% endblock %}