{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>3. 중대재해 대응 가이드</h1>
		</header>

		<span class="image main"><img src="{{ url_for('static', filename='assets/중대재해대응가이드responseguide/responseguide.1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/중대재해대응가이드responseguide/responseguide.2.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/중대재해대응가이드responseguide/responseguide.3.jpg') }}" alt="" /></span>
	</section>
{% endblock %}