{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>1. 산업/중대재해 대응 프로세스</h1>
		</header>

<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/산업중대재해대응response/response.1.jpg') }}" alt="" /></span>-->
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/산업중대재해대응response/response.2.jpg') }}" alt="" /></span>-->
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/산업중대재해대응response/response.3.jpg') }}" alt="" /></span>-->
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/산업중대재해대응response/response.4.jpg') }}" alt="" /></span>-->
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/산업중대재해대응response/response.5.jpg') }}" alt="" /></span>-->

		{% for image in images %}
			<span class="image main">
				<img src="{{ url_for('static', filename='assets/산업중대재해대응response/' + image) }}" alt="{{ image.split('.')[0] }}" />
			</span>
		{% endfor %}
	</section>
{% endblock %}