{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>도로변 작업(신호수)</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/도로변작업(신호수)roadside/roadside.1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/도로변작업(신호수)roadside/roadside.2.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/도로변작업(신호수)roadside/roadside.3.jpg') }}" alt="" /></span>
	
	</section>
{% endblock %}