{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>도로변 작업</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/31.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/31.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/31.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/31.4.jpg') }}" alt="" /></span>
	</section>
{% endblock %}