{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>직무별역할</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/16.1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/16.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/16.3.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/16.4.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/16.5.jpg') }}" alt="" /></span>
	</section>
{% endblock %}