{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>안전보건(관리)총괄책임자 역할</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/총괄책임자rolechiefsafetyhealth/1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/총괄책임자rolechiefsafetyhealth/2.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/총괄책임자rolechiefsafetyhealth/3.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/총괄책임자rolechiefsafetyhealth/4.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/총괄책임자rolechiefsafetyhealth/5.jpg') }}" alt="" /></span>
	</section>
{% endblock %}