{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>안전보호구(KCs인증)</h1>
		</header>
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/안전보호구(kcs)safetygear2/safetygear2.1.jpg') }}" alt="" /></span>-->
<!--        <span class="image main"><img src="{{ url_for('static', filename='assets/안전보호구(kcs)safetygear2/safetygear2.2.jpg') }}" alt="" /></span>-->
<!--        <span class="image main"><img src="{{ url_for('static', filename='assets/안전보호구(kcs)safetygear2/safetygear2.3.jpg') }}" alt="" /></span>-->
<!--        <span class="image main"><img src="{{ url_for('static', filename='assets/안전보호구(kcs)safetygear2/safetygear2.4.jpg') }}" alt="" /></span>-->
<!--        <span class="image main"><img src="{{ url_for('static', filename='assets/안전보호구(kcs)safetygear2/safetygear2.5.jpg') }}" alt="" /></span>-->
<!--        <span class="image main"><img src="{{ url_for('static', filename='assets/안전보호구(kcs)safetygear2/safetygear2.6.jpg') }}" alt="" /></span>-->
<!--        <span class="image main"><img src="{{ url_for('static', filename='assets/안전보호구(kcs)safetygear2/safetygear2.7.jpg') }}" alt="" /></span>-->
        {% for image in images %}
			<span class="image main">
				<img src="{{ url_for('static', filename='assets/안전보호구(kcs)safetygear2/' + image) }}" alt="{{ image.split('.')[0] }}" />
			</span>
		{% endfor %}
	</section>
{% endblock %}