{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>안전등급</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.2.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.3.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.4.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.5.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.6.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.7.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.8.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/18.9.jpg') }}" alt="" /></span>
	</section>
{% endblock %}