{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>안전 기준</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/안전기준safetystandards/safetystandards.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/안전기준safetystandards/safetystandards.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/안전기준safetystandards/safetystandards.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/안전기준safetystandards/safetystandards.4.jpg') }}" alt="" /></span>
	</section>
{% endblock %}