{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>관리자별 안전관리 R&R</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/관리자별안전관리safetymanagement/1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/관리자별안전관리safetymanagement/2.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/관리자별안전관리safetymanagement/3.jpg') }}" alt="" /></span>

	</section>
{% endblock %}