{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>비계(이동식비계 등)</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.4.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.5.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.6.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.7.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.8.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.9.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.10.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.11.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.12.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.13.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.14.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/비계(이동식비계)scaffolding/scaffolding.15.jpg') }}" alt="" /></span>
	</section>
{% endblock %}