{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>비계(이동식비계 등)</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/28.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/28.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/28.4.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.5.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.6.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.7.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.8.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.9.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.10.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.11.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.12.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.13.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.14.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/28.15.jpg') }}" alt="" /></span>
	</section>
{% endblock %}