{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>계절별 대응 Guide</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/39.1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/39.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/39.3.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/39.4.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/39.5.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/39.6.jpg') }}" alt="" /></span>
	</section>
{% endblock %}