{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>계절별 대응 Guide</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/계절별대응seasonalresponse/seasonalresponse.1.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/계절별대응seasonalresponse/seasonalresponse.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/계절별대응seasonalresponse/seasonalresponse.3.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/계절별대응seasonalresponse/seasonalresponse.4.jpg') }}" alt="" /></span>
		<span class="image main"><img src="{{ url_for('static', filename='assets/계절별대응seasonalresponse/seasonalresponse.5.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/계절별대응seasonalresponse/seasonalresponse.6.jpg') }}" alt="" /></span>
	</section>
{% endblock %}