{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>신호수, 방호차량 기준</h1>
		</header>
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/신호수,방호차량기준signalman/signalman.1.jpg') }}" alt="" /></span>-->
<!--        <span class="image main"><img src="{{ url_for('static', filename='assets/신호수,방호차량기준signalman/signalman.2.jpg') }}" alt="" /></span>-->
<!--        <span class="image main"><img src="{{ url_for('static', filename='assets/신호수,방호차량기준signalman/signalman.3.jpg') }}" alt="" /></span>-->
		{% for image in images %}
			<span class="image main">
				<img src="{{ url_for('static', filename='assets/신호수,방호차량기준signalman/' + image) }}" alt="{{ image.split('.')[0] }}" />
			</span>
		{% endfor %}
	</section>
{% endblock %}