{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>트럭류</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/트럭류truck/truck.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/트럭류truck/truck.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/트럭류truck/truck.3.jpg') }}" alt="" /></span>
	</section>
{% endblock %}