{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>고소작업 행동절차</h1>
		</header>
		<span class="image main"><img src="{{ url_for('static', filename='assets/고소작업행동절차workheights/workheights.1.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/고소작업행동절차workheights/workheights.2.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/고소작업행동절차workheights/workheights.3.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/고소작업행동절차workheights/workheights.4.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/고소작업행동절차workheights/workheights.5.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/고소작업행동절차workheights/workheights.6.jpg') }}" alt="" /></span>
        <span class="image main"><img src="{{ url_for('static', filename='assets/고소작업행동절차workheights/workheights.7.jpg') }}" alt="" /></span>
	</section>
{% endblock %}