{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>작업계획서</h1>
		</header>

<!--		<span class="image main"></span><img src="{{ url_for('static', filename='assets/작업계획서workplan/workplan.1.jpg') }}" alt="" style="max-width:100%; height:auto;" /></span>-->
<!--		<span class="image main"><img src="{{ url_for('static', filename='assets/작업계획서workplan/workplan.1.jpg') }}" alt="" /></span>-->
		{% for image in images %}
			<span class="image main">
				<img src="{{ url_for('static', filename='assets/작업계획서workplan/' + image) }}" alt="{{ image.split('.')[0] }}" />
			</span>
		{% endfor %}
	</section>
{% endblock %}