{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>고소작업대 작업 안전 동영상</h1>
		</header>
          <div class="image main">
            <a href="https://youtu.be/frDSoPye-zo" target="_blank">
              <p>▶고소작업 CCTV 설치시 떨어짐 등에 유의하여 작업하세요.</p>
              <img src="https://img.youtube.com/vi/frDSoPye-zo/hqdefault.jpg" alt="고소작업대 작업(1/3)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/pFj-9u2ShQU" target="_blank">
              <p>▶고소작업대 작업시 주변환경을 확인하며 작업하세요.</p>
              <img src="https://img.youtube.com/vi/pFj-9u2ShQU/hqdefault.jpg" alt="고소작업대 작업(2/3)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/A_YTCneVEJk" target="_blank">
              <p>▶고소작업시 작업자 떨어짐사고 및 공구 떨어트림에 유의하여 작업하세요</p>
              <img src="https://img.youtube.com/vi/A_YTCneVEJk/hqdefault.jpg" alt="고소작업대 작업(3/3)">
            </a>
          </div>
	</section>
{% endblock %}