{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>굴착기 작업 안전 동영상</h1>
		</header>
          <div class="image main">
            <a href="https://youtu.be/SzD7LpEp2hg" target="_blank">
              <p>▶굴삭기작업 작업전 장비 및 주변환경을 확인하세요.</p>
              <img src="https://img.youtube.com/vi/SzD7LpEp2hg/hqdefault.jpg" alt="굴착기 작업(1/2)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/1AcBq6fKf-U" target="_blank">
              <p>▶굴삭기작업 운전자의 안전수칙을 숙지하세요.</p>
              <img src="https://img.youtube.com/vi/1AcBq6fKf-U/hqdefault.jpg" alt="굴착기 작업(2/3)">
            </a>
          </div>
	</section>
{% endblock %}