{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>사다리 작업 안전 동영상</h1>
		</header>
          <div class="image main">
            <a href="https://youtu.be/0Ucp4I-yZtU" target="_blank">
              <p>▶사다리 승주 규정을 숙지하여 떨어짐을 예방하세요.</p>
              <img src="https://img.youtube.com/vi/0Ucp4I-yZtU/0.jpg" alt="사다리 작업(1/4)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/ybU8AIqwEDs" target="_blank">
              <p>▶사다리를 펼치거나 접을 때 힌지에 끼일 수 있으니 주의하세요.</p>
              <img src="https://img.youtube.com/vi/ybU8AIqwEDs/0.jpg" alt="사다리 작업(2/4)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/DpjSH4-2M6s" target="_blank">
              <p>▶작업 전 사다리상태 및 주변환경을 확인하세요.</p>
              <img src="https://img.youtube.com/vi/DpjSH4-2M6s/0.jpg" alt="사다리 작업(3/4)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/26riL1dMJMw" target="_blank">
              <p>▶사다리작업 안전수칙을 준수하여, 떨어짐 등에 유의하세요.</p>
              <img src="https://img.youtube.com/vi/26riL1dMJMw/0.jpg" alt="사다리 작업(4/4)">
            </a>
          </div>
	</section>
{% endblock %}