{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>이동식크레인 작업 안전 동영상</h1>
		</header>
          <div class="image main">
            <a href="https://youtu.be/Uj-lZLoiTL8" target="_blank">
              <p>▶이동식크레인 작업 전 줄걸이 점검을 실시하세요.</p>
              <img src="https://img.youtube.com/vi/Uj-lZLoiTL8/hqdefault.jpg" alt="이동식크레인 작업(1/3)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/81d9d_ftcBQ" target="_blank">
              <p>▶이동식크레인 작업시 차량 및 주변환경을 확인하세요.</p>
              <img src="https://img.youtube.com/vi/81d9d_ftcBQ/hqdefault.jpg" alt="이동식크레인 작업(2/3)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/x8AIyseyL28" target="_blank">
              <p>▶이동식크레인 작업시 운전자 및 작업자 안전수칙을 준수하세요.</p>
              <img src="https://img.youtube.com/vi/x8AIyseyL28/hqdefault.jpg" alt="이동식크레인 작업(3/3)">
            </a>
          </div>
	</section>
{% endblock %}