{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>전주 Pole 작업 안전 동영상</h1>
		</header>
          <div class="image main">
            <a href="https://youtu.be/nfbLZ3Qud3Y" target="_blank">
              <p>▶승주작업시 전주상태를 확인하고, 이동시 안전대를 착용하세요.</p>
              <img src="https://img.youtube.com/vi/nfbLZ3Qud3Y/0.jpg" alt="전주 Pole 작업(1/2)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/sJ92-vmuGKk" target="_blank">
              <p>▶승주작업시 전신주의 벌집에 유의하세요.</p>
              <img src="https://img.youtube.com/vi/sJ92-vmuGKk/0.jpg" alt="전주 Pole 작업(2/2)">
            </a>
          </div>
	</section>
{% endblock %}