{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>철도/레일 작업 안전 동영상</h1>
		</header>
          <div class="image main">
            <a href="https://youtu.be/81q_rhSVa0w" target="_blank">
              <p>▶야외 선로구간 작업시 안전수칙을 준수하세요.</p>
              <img src="https://img.youtube.com/vi/81q_rhSVa0w/0.jpg" alt="철도/레일 작업(1/3)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/Qva_av04FqA" target="_blank">
              <p>▶야간 선로작업시 안전수칙을 준수하세요.</p>
              <img src="https://img.youtube.com/vi/Qva_av04FqA/0.jpg" alt="철도/레일 작업(2/3)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/8AMQC8ydOU8" target="_blank">
              <p>▶철도 운행 개소에서는 작업 종료 후 정리정돈을 철저히 하세요.</p>
              <img src="https://img.youtube.com/vi/8AMQC8ydOU8/0.jpg" alt="철도/레일 작업(3/3)">
            </a>
          </div>
	</section>
{% endblock %}