{% extends "base.html" %}
{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>옥상/옥탑 작업 안전 동영상</h1>
		</header>
          <div class="image main">
            <a href="https://youtu.be/kElZZt1V5Nw" target="_blank">
              <p>▶옥상옥탑작업시 난간이 없을경우 떨어짐 예방조치를 철저히 준수하세요.</p>
              <img src="https://img.youtube.com/vi/kElZZt1V5Nw/0.jpg" alt="옥상/옥탑 작업(1/4)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/IGAvXusUu-Q" target="_blank">
              <p>▶옥상옥탑작업 승강시 안전수칙을 준수하세요.</p>
              <img src="https://img.youtube.com/vi/IGAvXusUu-Q/0.jpg" alt="옥상/옥탑 작업(2/4)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/oPd04l6jax0" target="_blank">
              <p>▶옥상옥탑작업시 안전고리 체결할 곳이 없을 땐, 수평생명줄을 설치하세요.</p>
              <img src="https://img.youtube.com/vi/oPd04l6jax0/0.jpg" alt="옥상/옥탑 작업(3/4)">
            </a>
          </div>
          <div class="image main">
            <a href="https://youtu.be/X73h0jDYUms?t=1" target="_blank">
              <p>▶안테나 Pole 승주 작업시 안전수칙을 준수하여 떨어짐에 유의하세요.</p>
              <img src="https://img.youtube.com/vi/X73h0jDYUms/0.jpg" alt="옥상/옥탑 작업(4/4)">
            </a>
          </div>
	</section>
{% endblock %}